

{{#ui-modal name="profile" class="profile"}}
    <div class="content">
        <div class="ui two column middle aligned very relaxed stackable grid">
            <form {{action 'authenticate' on="submit"}} class="ui large form column">
              <div class="two fields">
                  <div class="field">
                      <label for="login">Login</label>
                      <div class="ui left icon input">
                          {{input label="Login" type="text" name="login" value=(mut login)}}
                          <i class="user icon"></i>
                      </div>
                  </div>
                  <div class="field">
                      <label for="password">Password</label>
                      <div class="ui left icon input">
                          {{input label="Password" type="password" name="password" value=(mut password)}}
                          <i class="lock icon"></i>
                      </div>
                  </div>
              </div>
              <div class="actions right">
                  {{input type="submit" value="Log in" class="ui positive green button"}}
                  <div class="ui right grey deny button">
                      Cancel
                  </div>
              </div>
            </form>
        <div class="ui vertical divider">
            Or
        </div>
        <div class="center aligned column">
            <div class="ui big green labeled icon button">
                <i class="signup icon"></i>
                Sign Up
            </div>
        </div>
    </div>
    </div>
{{/ui-modal}}
