{{!-- Topbar --}}
<div class="ui top fixed menu stackable" id="top-menu">
    <a {{action "historyPrevious"}} class="item"><i class="angle left icon"></i></a>
    <a {{action "historyNext"}} class="item"><i class="angle right icon"></i></a>
    {{!-- Ouverture du dash --}}
    <a {{action "openDash"}} class="item"><i class="grid layout icon"></i></a>
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="right menu">
        {{profile-manager}}
    </div>
</div>
