<div class="ui top grey inverted attached menu stackable">
    <div class="ui container">
        {{#link-to 'index' class="item"}}<i class="home icon"></i>Home{{/link-to}}
        {{#link-to 'offer.list' class="item"}}<i class="idea icon"></i>Offers{{/link-to}}
        <div class="right menu">
            {{profile-manager}}
        </div>
    </div>
</div>
