{{!-- Topbar --}}
<div class="ui top inverted attached menu stackable">
    <a {{action "openSideBar"}} class="item"><i class="list layout icon"></i></a>
    <div class="right menu">
        {{profile-manager}}
    </div>
</div>

{{!-- Menu principal --}}
<div class="ui left demo vertical inverted sidebar menu">
    {{#link-to 'index' class="item"}}<i class="home icon"></i>Home{{/link-to}}
    {{#link-to 'offer.list' class="item"}}<i class="idea icon"></i>Offers{{/link-to}}
</div>
