{{!-- Menu principal --}}
{{#ui-modal name="dash" class="basic" id="dash"}}

    <div class="ui grid four column">
        {{#link-to 'index' class="ui icon inverted header column"}}
            <i class="home icon"></i>
            Home
        {{/link-to}}

        {{#link-to 'offer.list' class="ui inverted icon header column"}}
            <i class="idea icon"></i>
            Offers
        {{/link-to}}
    </div>
{{/ui-modal}}
