{{!-- Menu principal --}}
<div class="ui vertical fixed attached inverted icon menu stackable" id="left-menu">
    {{#link-to 'index' class="item"}}<i class="home icon"></i>{{/link-to}}
    {{#link-to 'offer.list' class="item"}}<i class="idea icon"></i>{{/link-to}}
</div>
