// Fix for Roboto font path
$roboto-font-path: '../assets/';

body, html {
    overflow: hidden;
}

#app-content {
    margin-top: 10px;
}

#top-menu {
    padding-left: 50px;
}

#wrapper {
    position: relative;
    overflow: auto;
}
